<h2>Welcome {{marvin}}!</h2>
<div class="play-container">
    <p> <input type="value" [(ngModel)]="marvin"><br>
        <input type="value" id="marvintime" value= {{recordingTime}}/>
</div>
<!--       Pemba No. 2   -->
<div class="play-container">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The number of search records is <strong>IS LESSER GREATER</strong> THAN 50.</p>
     </ng-template>
 <ng-template #none> <p>The number of search records is <strong>NOT LESSER</strong> THAN 50.</p>
    </ng-template>
</div>
